.navbar-unlockme {
  padding: 25px 200px ;
  border-bottom: 1px solid rgba(180,180,180,0.5);
  .navbar-brand {
    .logo {
      width: 200p;
    }
  }

  #navbarNav {
    display: flex;
    justify-content: flex-end;
    position: fixed !important;



    .nav-item {
      .nav-link {

      }
      .fa-home {
        color: #203659;
        font-size: 25px;
      }
      a {
        color: #203659;
        padding-bottom: 0px;
      }
      &:hover {
        a, .fa-home {
          color: #e83d4f;
        }
      }
    }

    .nav-item.active {
      a, .fa-home {
        color: #e83d4f;
      }
    }
  }
}
