
<div class="container">
    <h2> Quelle intervention souhaitez-vous realiser ? </h2>

</div>

  <div class="row">

    <% @services.where(parent_id: nil).each_with_index do |service,i| %>
        <div class="col-xs-12 col-sm-2">
      <div class="card" style="background-image: url(<%=service.picture%>);">
        <div class="card-description">
        <%= link_to service_path(service) do %>
            <div class="txt"><%=service.name.capitalize %></div>
            <%end%>

          </div>

        </div>

      </div>
      <%end%>

    </div>
  </div>
