
<div class="container">
    <h2> Quelle intervention souhaitez-vous realiser ? </h2>

</div>

  <div class="row">

    <% @services.each_with_index do |service,i| %>
        <div class="col-xs-12 col-sm-2">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)),url(<%=service.picture%>);">
        <div class="card-description">
            <div class="txt"><%=service.name.capitalize %></div>

          </div>

        </div>

      </div>
      <%end%>

    </div>
  </div>

