<footer>
  <div class="row text-center top-footer">
    <div class="col">
      <a class="link-footer" href="#">
         <%= image_tag asset_pack_path('images/unlockme.png'),class:"logo-footer", alt:"logo unlockme"%>
      </a>
    </div>
    <div class="col">
      <a href="https://www.facebook.com/unlockme.io/?hc_ref=ARS0mLAhNF0JT1jZMLjmoThZezJUodzXOOc2lgG5kacpgHmtulc95eYcMQJU7swFUvU"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="row text-center bottom-footer">
    <div class="col">
      <span>Copyright © 2018 Unlockme</span>
      <span class="separateur"> | </span>
      <a href="">Mentions légales</a>
      <span class="separateur"> | </span>
      <a href="">CGV</a>
    </div>
  </div>
</footer>
