body {
  overflow-x: hidden;
}

#main {
  margin: 0;
  padding: 0;
}
#main h2 {
  font-size: 40px;
  padding-top: 50px;
}
#main .hr-img {
  margin-bottom: 20px;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  width: 50%;
  height: 1.5em;
}
#main .hr-img:before {
  content: '';
  background: linear-gradient(to right, transparent, black, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}
#main .hr-img:after {
  content: "\f084";
  font-family: FontAwesome;
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.6em;
  line-height: 1.5em;
  background-color: #efefef;
}
#main #home-page {
  position: relative;
  padding: 0;
  width: 100%;
  height: 92vh;
  background: url("../images/key.jpg") no-repeat;
  background-size: 100% 100vh;
}
#main #home-page .main-btn {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #e83D4F;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(232, 61, 79, 0.8);
  margin-top: 320px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 16px;
  height: 60px;
  width: 320px;
  border-radius: 5px;
  overflow: hidden;
}
#main #home-page .main-btn.effect {
  transition: all 0.5s;
  height: 60px;
}
#main #home-page .main-btn.effect:before {
  content: "\f084";
  font-family: FontAwesome;
  background-color: rgba(232, 61, 79, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transform: scale(0, 1);
  transition: all 0.2s linear 0s;
}
#main #home-page .main-btn.effect:hover {
  text-indent: -9999px;
}
#main #home-page .main-btn.effect:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}
#main #home-page .main-text {
  position: absolute;
  bottom: 0;
  padding: 0;
  font-size: 20px;
  height: 200px;
  color: white;
}
#main #home-page .main-text h1 {
  font-size: 60px;
  letter-spacing: 1px;
  padding-top: 50px;
}
#main #sections {
  margin: 0;
  padding: 0 0 60px 0;
}
#main #sections .hr-img:after {
  background-color: white;
}
#main #sections .container-box {
  margin: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
#main #sections .container-box .box-1 {
  background: url("../images/ouverture.png") no-repeat;
  background-size: cover;
}
#main #sections .container-box .box-2 {
  background: url("../images/pose_serrure.png") no-repeat;
  background-size: cover;
}
#main #sections .container-box .box-3 {
  background: url("../images/travaux_porte.png") no-repeat;
  background-size: cover;
}
#main #sections .container-box .box-4 {
  background: url("../images/double_clef.png") no-repeat;
  background-size: cover;
}
#main #sections .container-box .box-5 {
  background: url("../images/coffre_moyen.png") no-repeat;
  background-size: cover;
}
#main #sections .box {
  height: 350px;
  width: 350px;
  margin: 60px 2em 0 2em;
  box-shadow: 1px 4px 10px grey;
  background-position: center;
  background-size: cover;
  position: relative;
}
#main #sections .box:hover .content-box {
  transform: translateY(0%);
  background: rgba(232, 61, 79, 0.8);
}
#main #sections .box:hover .content-box hr {
  width: 50%;
  transition-delay: 400ms;
}
#main #sections .box:hover .content-box p {
  opacity: 1;
  transition: all 400ms ease;
  transform: translateY(0%);
  transition-delay: 600ms;
}
#main #sections .box:hover .content-box a {
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 900ms;
}
#main #sections .box-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
#main #sections .content-box {
  background: rgba(232, 61, 79, 0.8);
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1em;
  transform: translateY(80%);
  transition: all 600ms ease;
}
#main #sections .content-box h5 {
  padding: 0.2em 0 0;
  margin: 0;
}
#main #sections .content-box hr {
  background: #203659;
  height: 3px;
  border: none;
  margin: 1em 0 1em 5em;
  width: 0;
  transition: all 400ms ease;
}
#main #sections .content-box p {
  letter-spacing: 1px;
  opacity: 0;
  transition: all 900ms ease;
  transform: translateY(40%);
}
#main #sections .content-box a {
  color: white;
  display: inline-block;
  background: #203659;
  margin-top: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  position: relative;
  transition: all 600ms ease;
  opacity: 0;
  transform: translateX(20%);
}
#main #sections .content-box a:hover {
  background: #1B324B;
}
#main #partenaires {
  background-color: #efefef;
  padding-bottom: 60px;
}
#main #partenaires .logos-partenaires {
  margin-top: 60px;
}
#main #partenaires .logos-partenaires-small {
  display: none;
}

@media (max-width: 320px) {
  #main h2 {
    font-size: 18px;
  }
  #main .hr-img {
    margin-bottom: 0px;
    width: 75%;
  }
  #main #home-page .main-btn {
    margin-top: 230px;
    padding-right: 10px;
    padding-left: 10px;
    width: 280px;
  }
  #main #home-page .main-text h1 {
    font-size: 26px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 20px;
  }
  #main #partenaires .logos-partenaires {
    display: none;
  }
  #main #partenaires .logos-partenaires-small {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 80%;
  }
}
@media (max-width: 400px) {
  #main #sections .box {
    height: 300px;
    width: 300px;
    margin: 40px 0 0 0;
  }
}
@media (min-width: 320.02px) and (max-width: 449.98px) {
  #main h2 {
    font-size: 18px;
  }
  #main .hr-img {
    margin-bottom: 0px;
    width: 75%;
  }
  #main #home-page .main-btn {
    margin-top: 230px;
  }
  #main #home-page .main-text h1 {
    font-size: 26px;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 20px;
  }
  #main #sections .box {
    margin: 40px 0 0 0;
  }
  #main #partenaires .logos-partenaires {
    margin-top: 30px;
    width: 300px;
  }
}
@media (min-width: 450px) and (max-width: 575.98px) {
  #main h2 {
    font-size: 26px;
  }
  #main .hr-img {
    margin-bottom: 0px;
    width: 75%;
  }
  #main #home-page .main-btn {
    margin-top: 260px;
  }
  #main #home-page .main-text h1 {
    font-size: 30px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }
  #main #sections .box {
    margin: 40px 0 0 0;
  }
  #main #partenaires .logos-partenaires {
    width: 400px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #main h2 {
    font-size: 30px;
  }
  #main .hr-img {
    margin-bottom: 0px;
  }
  #main #home-page .main-btn {
    margin-top: 260px;
  }
  #main #home-page .main-text h1 {
    font-size: 40px;
    padding-top: 70px;
    padding-left: 55px;
    padding-right: 55px;
  }
  #main #partenaires .logos-partenaires {
    width: 500px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #main #home-page .main-btn {
    margin-top: 260px;
  }
  #main #home-page .main-text h1 {
    font-size: 40px;
    padding-top: 80px;
  }
  #main #sections .box {
    margin: 60px 1.2em 0 1.2em;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #main #home-page .main-btn {
    margin-top: 260px;
  }
  #main #home-page .main-text h1 {
    font-size: 50px;
    padding-top: 80px;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  #main #home-page .main-btn {
    margin-top: 280px;
  }
  #main #home-page .main-text h1 {
    padding-top: 65px;
  }
}
