.navbar-unlockme {
  padding: 25px 200px !important;
  border-bottom: 1px solid rgba(180,180,180,0.5);

  .navbar-brand {
    .logo {
      width: 200px;
    }
  }

  #navbarNav {
    justify-content: flex-end;

    .nav-item {
      .fa-home {
        color: #203659;
        font-size: 25px;
      }

      a {
        color: #203659;
        padding-bottom: 0;
      }

      &:hover {
        .fa-home,
        a {
          color: #e83d4f !important;
        }
      }
    }

    .nav-item.active {
      .fa-home,
      a {
        color: #e83d4f;
      }
    }
  }
}

@media (max-width: 399.98px) {
  .navbar-unlockme {
    padding: 25px 20px !important;
    .navbar-toggler:focus {
      outline: 0 !important;
    }
    #navbarNav {
      padding-top: 20px;
    }
  }
}

@media (min-width: 400px) and (max-width: 991.98px) {
  .navbar-unlockme {
    padding: 25px 50px !important;
    .navbar-toggler:focus {
      outline: 0 !important;
    }
    #navbarNav {
      padding-top: 20px;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-unlockme {
    padding: 25px 100px !important;
  }
}
