.navbar-unlockme {
  padding: 25px 200px !important;
  border-bottom: 1px solid rgba(180, 180, 180, 0.5) !important;
}
.navbar-unlockme .navbar-brand .logo {
  width: 200px !important;
}
.navbar-unlockme #navbarNav {
  display: flex !important;
  justify-content: flex-end !important;
}
.navbar-unlockme #navbarNav .nav-item .fa-home {
  color: #203659 !important;
  font-size: 25px !important;
}
.navbar-unlockme #navbarNav .nav-item a {
  color: #203659;
  padding-bottom: 0px !important;
}
.navbar-unlockme #navbarNav .nav-item:hover a, .navbar-unlockme #navbarNav .nav-item:hover .fa-home {
  color: #e83d4f !important;
}
.navbar-unlockme #navbarNav .nav-item.active a, .navbar-unlockme #navbarNav .nav-item.active .fa-home {
  color: #e83d4f !important;
}
