<div class="container">
  <% if @subservice.subservice_id != nil %>
    <div class="row" id="">
      <% @subservice.subservices.each_with_index do |subservice,i| %>
        <div class="col-xs-12 col-sm-2">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)),url(<%=subsubservice.picture%>);">
            <div class="card-description">
              <%= link_to subservice_path(subservice) do %>
                <div class="txt"><%=subservice.name.capitalize %>
                </div>
              <% end%>
            </div>
          </div>
        </div>
      <% end%>
    </div>
  <% end%>
</div>






